.SubCard{
    transition: 0.2s;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    border-radius: 20px;
    background-color: #b71c1c;
}

.card-title{
    font-size: 45px;
}

.card-value{
    font-size: 23px;
}

.SubCard:hover{
    transition: 0.2s;
    transform: translateY(-10px);
    background-color: rgb(167, 8, 8);
    cursor: pointer;
}