.container-edit-subscriptions{
    width: 100%;
    height: 100%;
    display: flex;
}

.container-subscription-section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #494646;
}

.subscription-section{
    width: 50%;
    height: 50%;
    background-color: #242222;
    border-radius: 15px;
    box-shadow: 0.1px 0.1px 20px rgba(0, 0, 0, 0.445);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.current-sub-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.current-sub-info p{
    color: white;
}

.sub-list-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}