.header-container{
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #242222;
    padding-left: 40px;
}

.modal-header{
    position: fixed;
    width: 100%;
    z-index: 20;
}

.btn-section div{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    cursor: pointer;
    gap: 10px;
}

.icon{
    font-size: 22px;
}

.modal-menu{
    padding-left: 0px;
}

.btn-section{
    width: 93%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 70px;
}

.MyAccount-btn{
    color: white;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
    border-radius: 360px;
}

.MyAccount-btn img{
    width: 100%;
    height: 100%;
    border-radius: 360px;
}

.btn-section button{
    transition: 0.1s;
    display: flex;
    outline: none;
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}

.btn-section button:hover{
    transition: 0.1s;
    border-bottom: 2px solid white;
}

.div-modal-perfil{
    width: 100%;
    height: 100%;
}