.container-cadastro{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container-form-cadastro{
    width: 25%;
    height: 90%;
    display: flex;
    gap: 60px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(46, 44, 44, 0.473);
    padding: 20px;
    border-radius: 20px;
}

.title{
    color: red;
}

.link-login{
    color: white;
}

.container-btn-enviar-cadastro{
    width: 100%;
}

.container-input-cadastro{
    width: 100%;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-form-cadastro button{
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 5px;
    background-color: rgb(204, 17, 17);
    color: white;
    font-size: 18px;
}

.container-form-cadastro button:hover{
    background-color: rgb(145, 10, 10);
}

.input-cadastro{
    backdrop-filter: blur(2px);
    background-color: transparent;
    color: white;
}

.input-cadastro input{
    color: white;
}

.input-cadastro label{
    color: rgb(255, 255, 255);
}

.container-modal{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalSubscriptions{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.button-voltar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: -40%;
    margin-left: -90%;
}

.button-voltar button{
    width: 100%;
    height: 100%;
    font-size: 40px;
    color: rgb(204, 17, 17);
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
}