.containerTitleGeral{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-section{
    width: 100%;
    height: 100%;
}

.image-section img{
    width: 100%;
    height: 100%;
}

.titleText{
    color: white;
}

.btn-voltar{
    width: 50px;
    height: 50px;
    z-index: 30;
}

.btn-voltar button{
    width: 100%;
    height: 100%;
}