.container-geral-title-page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.content-section-title-page{
    width: 100%;
    height: 100%;
    display: "flex";
    flex-direction: "column";
    justify-content: "center";
    align-items: "flex-start";
}

.info-section{
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    height: 100%;
    gap: 35px;
    padding-top: 6rem;
    padding-left: 5.5rem;
}

.imgLogo{
    width: 450px;
}

.imgLogo img{
    width: 100%;
}

.btn-voltar{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.btn-voltar button{
    font-size: 30px;
    color: rgb(233, 24, 24);
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.releaseYearText{
    color: white;
    display: flex;
    
}

.descriptionText{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 630px;
}

.descriptionText p{
    color: white;
}

.btn-play-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn-play-section button{
    background-color: red;
}

.btn-play-section button:hover{
    background-color: rgb(133, 6, 6);
}

.btn-trailer{
    height: 55px;
    width: 110px;
}

.btn-assistir{
    width: 160px;
    height: 55px;
}

.footer{
    width: 100%;
    height: 300px;
    background-color: rgb(0, 0, 0);
    margin-top: 43%;
    position: absolute;
    box-shadow: 0px 0px 80px 120px rgb(0, 0, 0) ;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.detailsSection{
    color: white;
    width: 100%;
    height: 100%;
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.descriptionDetailed{
    width: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-right: 3px solid red;
}
.descriptionDetailed p{
    width: 80%;
}

.infoDetailed{
    width: 50%;
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: flex-start;
}

.infoContainer{
    color: white;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

@keyframes opacityGrow{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}