.container-account{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.container-info-panel{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(184, 184, 184);
}

.info-panel{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.info-panel p{
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
}

.info{
    width: 40%;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}