.div-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.img-container{
    transition: 0.3s;
    width: 250px;
    height: 250px;
    border-radius: 360px;
    border: 3px solid transparent;
    cursor: pointer;
}

.img-container:hover{
    transition: 0.3s;
    border: 3px solid white;
}

.img-container img{
    width: 100%;
    height: 100%;
    border-radius: 360px;
}

.div-img p{
    color: white;
    font-size: 28px;
    font-weight: bold;
}

.edit-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 360px;
    margin-top: 140px;
    margin-left: 180px;
    font-size: 24px;
}